/* Write your CSS here */
.bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.logo-image{
    width:350px;
    margin-bottom:30px;
}
.search-container{
    width:500px;
    height:auto;
    margin:30px;
    padding:20px;
    border-radius: 15px;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    display: flex;
    flex-direction: column;
}
.search-bar-container{
    display: flex;
    justify-content: flex-start;
    border:0;
}
.image{
    height:30px;
    width:30px;
    margin-right:20px;
}
.searchbar-heading{
    font-family: "Roboto";
    font-size:18px;
    color:#64748b;
    border:0;
    width:100%
}
.search-list-items{
    list-style-type: none;
}


